.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  p {
    font-family: "Montserrat Alternates", sans-serif;

    .accent {
      color: var(--accent);
    }
  }
}

.picture {
  width: fit-content;

  &_lg {
    width: 100%;

  }
}