.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 80px 12vw;

  &__title {
    color: var(--golden);
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-transform: uppercase;
  }

  &__subtitle {
    color: var(--black-2);
    margin: 0;
  }

  &__worksList {
    margin-top: 70px;
    width: 100%;

    &>*:not(:last-child) {
      margin-bottom: 100px;
    }

    @media (max-width: 768px) {
      margin-top: 35px;

      &>*:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 80px 2vw 70px 2vw;
  }
}